@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Teko:wght@300;400&display=swap');

:root {
  --white: #f6f6f6;
  --red: #ff0000;
  --blue: #0000ff;
  --grey: rgb(50, 50, 50);
  --open: 'Open Sans', sans-serif;
  --teko: 'Teko', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  background-image: linear-gradient(to right, black, black);
  background-size: 100% 170px;
  background-repeat: no-repeat;
  font-family: var(--open);
  font-size: 1.6rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

em {
  font-style: italic;
}

/* Common elements */

.page-block {
  background: white;
  font-size: 1.5rem;
  margin-top: 45px;
  padding: 45px 15px 15px;
  position: relative;
}

.page-block h1 {
  background: var(--red);
  box-shadow: 4px 4px 0px 0px black;
  color: white;
  font-family: var(--teko);
  font-size: 3rem;
  left: 50%;
  position: absolute;
  padding: 15px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  top: -32px;
  transform: translateX(-50%);
  width: 275px;
}

.page-block h2 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.page-block p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.page-block.page-block--black {
  background: black;
  color: white;
}

.page-block.page-block--black h1 {
  box-shadow: 4px 4px 0px 0px white;
  color: black;
}

@media (min-width: 1024px) {
  .page-block {
    margin: 45px auto;
    padding: 45px;
  }

  .page-block h1 {
    left: 60px;
    transform: none;
  }
}

/* Layout */

.ElytreSite {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.Header,
.Main {
  max-width: 1024px;
  margin: auto;
}

.Main {
  padding: 0 24px;
}

/* Header */

.Header {
  display: flex;
  flex-direction: column;
  height: 170px;
  position: relative;
}

.Header a {
  color: white;
}

.Header-site-title a {
  background: black;
  background-image: url('./logo.png');
  background-size: 100%;
  color: transparent;
  height: 105px;
  position: absolute;
  top: 90px;
  width: 189px;
}

.Header-site-title a:hover {
  box-shadow: 7px 7px 0px 0px rgba(255, 0, 0, 1);
}

.Header .Menu {
  color: white;
  font-family: var(--teko);
  font-weight: 300;
  font-size: 2rem;
  order: 1;
  text-transform: uppercase;
}

.Header .Menu-entries {
  display: flex;
  justify-content: center;
}

.Header .MenuEntry {
  padding: 10px 15px;
}

.Header .MenuEntry:hover {
  background: var(--red);
}

.SearchForm {
  border-bottom: 1px solid var(--grey);
  order: 2;
  margin: 5px auto;
  padding-right: 5px;
}

.SearchForm-input {
  background: black;
  border: 0;
  color: white;
  line-height: 2rem;
  font-family: var(--teko);
  font-size: 2.5rem;
  padding: 0 5px;
}

.SearchForm button {
  border: 0;
  background: black;
  background-image: url('search-button.png');
  color: transparent;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.SearchForm:hover,
.SearchForm:hover .SearchForm-input,
.SearchForm:hover button {
  background: var(--grey);
}

.SearchForm:hover {
  box-shadow: 4px 4px 0px 0px rgba(255, 0, 0, 1);
}

.SearchForm:hover button {
  background-image: url('search-button.png');
}

@media (min-width: 1024px) {
  .Header {
    display: block;
  }

  .Header .Menu-entries {
    justify-content: flex-end;
  }

  .SearchForm {
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

/* Nav menu */

.ElytreSite > .Menu {
  font-family: var(--teko);
  font-weight: 300;
  font-size: 2.5rem;
  margin: 35px auto;
  text-transform: uppercase;
}

.ElytreSite > .Menu .Menu-entries {
  display: flex;
  justify-content: space-evenly;
}

.ElytreSite > .Menu .MenuEntry {
  border-bottom: 3px solid transparent;
}

.ElytreSite > .Menu .MenuEntry:hover {
  border-bottom-color: var(--red);
}

@media (min-width: 1024px) {
  .ElytreSite > .Menu {
    font-size: 3rem;
    margin: auto;
    transform: translateY(-3px);
    width: 1000px;
  }

  .ElytreSite > .Menu .Menu-entries {
    justify-content: flex-end;
  }

  .ElytreSite > .Menu .MenuEntry {
    border-bottom: 0;
    border-top: 6px solid transparent;
    margin-left: 57px;
    padding-top: 12px;
  }

  .ElytreSite > .Menu .MenuEntry:hover {
    border-top-color: var(--red);
  }
}

/* Main */

/* Main > Home */

.HomeView .home-page {
  margin-bottom: 200px;
}

@media (min-width: 1024px) {
  .HomeView .home-page {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Main > Headline */

.HomeView .headline {
  width: 100%;
}

.HomeView .headline-image {
  width: 100%;
}

@media (min-width: 1024px) {
  .HomeView .headline {
    margin-top: 25px;
  }
}

/* Main > Home > Upcoming */

.HomeView .home-products {
  margin-top: 25px;
}

.HomeView .home-products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.HomeView .home-products-section-title {
  font-family: var(--teko);
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 10px;
  width: 100%;
}

.HomeView .home-product {
  width: calc(50% - 3px);
  margin-bottom: 16px;
}

.HomeView .home-product-publication-date {
  display: block;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

.HomeView .home-product-cover {
  max-width: 100%;
}

.HomeView .home-product-title {
  font-family: var(--teko);
  font-size: 3rem;
  font-weight: 400;
  margin-top: 15px;
}

.HomeView .home-product-title a {
  color: var(--red);
}

.HomeView .home-product-author {
  font-family: var(--teko);
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .HomeView .home-products {
    display: flex;
  }

  .HomeView .home-products-section {
    width: 100%;
  }

  .HomeView .home-product {
    padding-right: 12px;
    width: 25%;
  }
}

/* Main > Home > Manifest */

.HomeView .manifest {
  background: black;
  color: white;
  margin-top: 50px;
  padding: 40px 15px 15px;
  position: relative;
}

.HomeView .manifest-title {
  background: white;
  box-shadow: 4px 4px 0px 0px rgba(255, 0, 0, 1);
  color: black;
  font-family: var(--teko);
  font-size: 30px;
  left: 50%;
  position: absolute;
  padding: 15px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  top: -32px;
  transform: translateX(-50%);
  width: 275px;
}

.HomeView .manifest p {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 1rem;
}

.HomeView .manifest-link {
  display: block;
  color: white;
  font-family: var(--teko);
  font-size: 2rem;
  margin-top: 15px;
  text-align: right;
}

@media (min-width: 1024px) {
  .HomeView .manifest {
    margin-top: 82px;
    padding: 45px;
  }

  .HomeView .manifest-title {
    width: 325px;
  }
}

/* Main > Home > Newsletter */

.HomeView .newsletter {
  margin: 45px auto;
  max-width: 780px;
  width: 100%;
}

.HomeView .newsletter-iframe {
  height: 430px;
}

@media (min-width: 1024px) {
  .HomeView .newsletter-iframe {
    height: 340px;
  }
}

/* Pages */

.breadcrumbs,
.breadcrumbs a {
  color: rgb(85, 85, 85);
  font-family: var(--teko);
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 20px;
  text-transform: uppercase;
}

.breadcrumbs .current {
  color: rgb(178, 178, 178);
}

.breadcrumbs a,
.breadcrumbs span {
  margin: 0 6px;
}

/* Books pages */

.ProductList {
  margin: 35px;
}

.Product {
  margin-top: 25px;
}

.ProductList .Product-cover-image {
  max-width: 100%;
}

.ProductList .Product-title {
  font-family: var(--teko);
  font-size: 5rem;
  font-weight: 400;
  margin-top: 15px;
}

.ProductList .Product-title a {
  color: var(--red);
}

.ProductList .Product-author {
  font-family: var(--teko);
  font-size: 3rem;
}

.ProductList .Product-buy-link-button,
.ProductList .Product-back-cover-text,
.ProductList .Product-extras,
.ProductList .Product-reviews,
.ProductList .Product-details {
  display: none;
}

@media (min-width: 1024px) {
  .ProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ProductList .Product {
    width: 400px;
  }
}

/* Contributors page */

.contributors-page .contributor {
  border-bottom: 2px solid black;
  margin-top: 25px;
  padding-bottom: 29px;
}

.contributors-page .contributor:last-child {
  border: 0;
}

.contributors-page .contributor-portrait {
  height: 275px;
  margin: auto;
  position: relative;
  width: 275px;
}

.contributors-page .contributor-portrait::before {
  background: var(--red);
  content: '';
  height: 275px;
  position: absolute;
  transform: rotate(5deg);
  width: 275px;
  z-index: -1;
}

.contributors-page .contributor-portrait-image {
  max-width: 100%;
}

.contributors-page .contributor-name {
  font-family: var(--teko);
  font-size: 5rem;
  margin-top: 20px;
}

.contributors-page .contributor-bio {
  background: white;
  box-shadow: 4px 4px 0px 0px black;
  line-height: 1.5em;
  margin-top: 25px;
  padding: 15px 20px;
}

.contributor-books-title {
  font-family: var(--teko);
  font-size: 3rem;
  margin-top: 30px;
  text-transform: uppercase;
}

.contributor-books-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.contributor-books-product {
  width: 150px;
}

.contributor-books-product-cover,
.contributor-books-product-cover-image {
  max-width: 100%;
}

.contributor-books-product-title,
.contributor-books-product-author {
  font-family: var(--teko);
}

.contributor-books-product-title {
  font-size: 30px;
  margin-top: 5px;
}

.contributor-books-product-title a {
  color: var(--red);
}

.contributor-books-product-author {
  font-size: 25px;
}

@media (min-width: 1024px) {
  .contributors-page .contributor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }

  .contributors-page .contributor-portrait {
    height: 356px;
    margin: 0;
    width: 356px;
  }

  .contributors-page .contributor-portrait::before {
    height: 356px;
    width: 356px;
  }

  .contributors-page .contributor-name {
    font-size: 11rem;
    padding: 100px;
    padding-bottom: 0;
    width: 620px;
  }

  .contributors-page .contributor-bio {
    margin-top: 60px;
    padding: 45px;
  }

  .contributors-page .contributor-books-title {
    width: 100%;
  }

  .contributors-page .contributor-books-products {
    justify-content: flex-start;
    width: 100%;
  }

  .contributors-page .contributor-books-product {
    padding-right: 15px;
    width: 200px;
  }
}

/* Contact page */

.contact-page .contact-page-block {
  background: black;
  color: white;
  font-size: 1.5rem;
  margin-top: 15px;
  padding: 1px 15px 15px;
}

.contact-page .contact-page-block h2 {
  font-family: var(--teko);
  font-size: 2.5rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.contact-page .contact-page-block p {
  line-height: 2.5rem;
  margin-bottom: 0.5em;
}

.contact-page .contact-page-block a {
  color: white;
}

.contact-page p.contact-page-manuscripts {
  line-height: 1.25em;
}

@media (min-width: 1024px) {
  .contact-page .contact-page-block {
    margin: 25px auto;
    padding: 45px;
    padding-top: 25px;
    max-width: 600px;
  }
}

/* News page */

.news {
  background: white;
  margin-top: 60px;
  padding: 12px;
}

.news-title {
  font-family: var(--teko);
  font-size: 3rem;
  color: red;
  margin-top: 25px;
  text-transform: uppercase;
}

.news-illustration-image {
  max-width: 100%;
}

.news-date {
  margin-top: 25px;
  text-transform: uppercase;
}

.news-lead {
  font-weight: bold;
}

.news-body p,
.news-body ul {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 25px;
}

.news-body ul {
  list-style-type: disc;
  padding-left: 25px;
}

.news-body a {
  border-bottom: 1px solid black;
}

.news-read-more {
  font-weight: bold;
  text-align: right;
}

.news-youtube-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 15px 0;
  position: relative;
  height: 0;
}

.news-youtube-video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 1024px) {
  .news {
    margin-bottom: 100px;
    margin-right: 50px;
    padding: 50px;
    position: relative;
  }

  .news-illustration-image {
    max-height: 258px;
    max-width: 524px;
    top: -50px;
    position: absolute;
    right: -50px;
  }

  .news-title {
    margin-right: 450px;
  }

  .news-body {
    margin-top: 80px;
  }
}

/* About page */

.about-page .about-page-photo {
  margin-bottom: 15px;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .about-page .page-block {
    position: relative;
    z-index: 0;
  }

  .about-page .directors-block {
    background: none;
    margin-left: 450px;
    padding-bottom: 100px;
  }

  .about-page .directors-block p {
    text-align: justify;
  }

  .about-page .directors-block::before {
    background: black;
    content: '';
    display: block;
    height: 460px;
    position: absolute;
    transform: translate(-30px, -130px) rotate(5deg);
    width: 500px;
    z-index: -1;
  }

  .about-page .directors-block h1 {
    left: auto;
    right: 65px;
  }

  .about-page .about-page-photo {
    left: -450px;
    position: absolute;
    width: 450px;
  }
}

/* ProductView */

.ProductView .Product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.ProductView .Product-cover {
  margin-right: 25px;
  text-align: center;
}

.ProductView .Product-cover-image {
  max-height: 300px;
  max-width: 100%;
}

.ProductView .Product-infos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ProductView .Product-author {
  font-family: var(--teko);
  font-size: 5rem;
  margin-top: 25px;
  order: 1;
}

.ProductView .Product-author-by {
  display: none;
}

.ProductView .Product-title {
  color: var(--red);
  font-family: var(--teko);
  font-size: 10rem;
  margin-top: 15px;
  order: 2;
}

.ProductView .Product-buy-link-button {
  background: black;
  color: white;
  display: inline-block;
  font-family: var(--teko);
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
  order: 3;
  padding: 10px 35px 5px;
  text-transform: uppercase;
}

.ProductView .Product-back-cover-text {
  background: white;
  box-shadow: 7px 7px 0px 0px rgba(255, 0, 0, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 25px;
  margin-top: 50px;
  padding: 5px 20px;
}

.ProductView .Product-back-cover-text p {
  margin: 1em 0;
}

.ProductView .Product-reviews {
  background: white;
  box-shadow: 7px 7px 0px 0px rgba(255, 0, 0, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 25px;
  margin-top: 50px;
  order: 5;
  padding: 5px 20px;
  width: 100%;
}

.ProductView .Product-reviews-title {
  font-family: var(--teko);
  font-size: 3rem;
  margin: 2rem 0;
}

.ProductView .ProductReview {
  margin: 1em 0;
}


.ProductView .ProductReview-content {
  margin: 0;
}

.ProductView .ProductReview-content p {
  margin-bottom: 0.25em;
}

.ProductView .ProductReview-content p::before {
  content: "«\00a0";
}

.ProductView .ProductReview-content p::after {
  content: "\00a0»";
}

.ProductView .ProductReview-source {
  font-weight: bold;
}

.ProductView .Product-extras {
  margin: 50px auto;
  max-width: 720px;
  order: 6;
  width: 100%;
}

.ProductView .ProductExtra-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.ProductView .ProductExtra-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ProductView .Product-details {
  border-left: 6px solid black;
  margin-top: 50px;
  padding: 5px 0 0 25px;
  width: 100%;
  order: 4;
}

.ProductView .Product-detail {
  padding: 5px 0;
}

.ProductView .Product-detail .detail-label {
  display: inline-block;
  font-family: var(--teko);
  font-size: 2rem;
  font-weight: 300;
  width: 125px;
}

.ProductView .Product-detail .detail-value {
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .ProductView .Product {
    margin-top: 50px;
  }

  .ProductView .Product-cover {
    margin-right: 50px;
  }

  .ProductView .Product-cover-image {
    max-width: 300px;
    max-height: 425px;
  }

  .ProductView .Product-author {
    margin-top: 70px;
  }

  .ProductView .Product-title {
    margin-top: 40px;
  }

  .ProductView .Product-buy-link-button {
    margin-top: 40px;
  }

  .ProductView .Product-back-cover-text {
    padding: 40px 50px;
  }

  .ProductView .Product-details {
    display: flex;
    height: 125px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 5px 0 0 45px;
  }

  .ProductView .Product-detail .detail-label {
    width: 145px;
  }

  .ProductView .Product-reviews {
    padding: 40px 50px;
  }
}

/* Footer */

.Footer {
  background: var(--red);
  /* Hack to make footer reach View bottom */
  /* https://stackoverflow.com/questions/9741701/how-can-i-extend-a-footer-to-bottom-of-View */
  box-shadow: 0 50vh 0 50vh var(--red);
  color: var(--white);
  margin-top: 150px;
  padding-bottom: 350px;
  position: relative;
  text-align: center;
  width: 100vw;
}

.Footer::before {
  background-image: url('footer.png');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 111px;
  left: 0;
  position: absolute;
  width: 100%;
  top: -111px;
}

.Footer::after {
  background-image: url('footer-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 25px;
  content: '';
  height: 291px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 266px;
}

.Footer a {
  color: var(--white);
}

.Footer .Menu {
  font-family: var(--teko);
  margin: auto;
  font-size: 1.8rem;
  font-weight: bold;
}

.Footer .Menu-entries {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 35px;
  height: 135px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.Footer .MenuEntry {
  line-height: 30px;
  width: 125px;
}

.Footer .Footer-powered-by {
  font-size: 1.2rem;
  text-align: left;
  text-transform: lowercase;
  margin: auto;
  padding-left: 35px;
}

.Footer .Footer-powered-by a {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .Footer {
    padding-bottom: 150px;
  }

  .Footer::after {
    left: auto;
    right: 85px;
    transform: none;
  }

  .Footer .Menu,
  .Footer .Footer-powered-by {
    width: 1000px;
  }

  .Footer .MenuEntry {
    width: 160px;
  }
}

@media (min-width: 1600px) {
  .Footer {
    padding-top: 50px;
    margin-top: 50px;
  }

  .Footer::before {
    display: none;
  }
}
