@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Teko:wght@300;400&display=swap');

:root {
  --white: #f6f6f6;
  --red: #fe0000;
  --open: 'Open Sans', sans-serif;
  --teko: 'Teko', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  background-image: linear-gradient(to right, black, black);
  background-size: 100% 170px;
  background-repeat: no-repeat;
  font-family: var(--open);
  font-size: 1.6rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

em {
  font-style: italic;
}

/* Layout */

.ElytreSite {
  margin: auto;
  width: 100%;
}

.Header,
.Main {
  max-width: 1000px;
  margin: auto;
}

/* Header */

.Header {
  height: 170px;
  position: relative;
}

.Header a {
  color: white;
}

.Header-site-title a {
  background: black;
  background-image: url('./logo.png');
  background-size: 100%;
  color: transparent;
  height: 105px;
  position: absolute;
  top: 90px;
  width: 189px;
}

.Header .Menu {
  color: white;
  font-family: var(--teko);
  font-weight: 300;
  font-size: 2rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.Header .Menu-entries {
  display: flex;
  justify-content: flex-end;
}

.Header .MenuEntry {
  margin: 0 15px;
}

.SearchForm {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.SearchForm-input {
  background: black;
  border: 0;
  border-bottom: 1px solid var(--white);
}

/* Nav menu */

.ElytreSite > .Menu {
  font-family: var(--teko);
  font-weight: 300;
  font-size: 3rem;
  margin: auto;
  text-transform: uppercase;
  width: 1000px;
}

.ElytreSite > .Menu .Menu-entries {
  display: flex;
  justify-content: flex-end;
}

.ElytreSite > .Menu .MenuEntry {
  margin-left: 57px;
}

/* Main */

.HomePage {
  margin-bottom: 200px;
}

/* Product */

.ProductPage .Product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.ProductPage .Product-cover {
  margin-right: 50px;
  max-width: 300px;
}

.ProductPage .Product-infos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ProductPage .Product-author {
  font-family: var(--teko);
  font-size: 5rem;
  margin-top: 70px;
  order: 1;
}

.ProductPage .Product-author-by {
  display: none;
}

.ProductPage .Product-title {
  color: var(--red);
  font-family: var(--teko);
  font-size: 10rem;
  margin-top: 40px;
  order: 2;
}

.ProductPage .Product-buy-link-button {
  background: black;
  color: white;
  display: inline-block;
  font-family: var(--teko);
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
  order: 3;
  padding: 10px 35px 5px;
  text-transform: uppercase;
}

.ProductPage .Product-back-cover-text {
  background: white;
  box-shadow: 7px 7px 0px 0px rgba(255, 0, 0, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 50px;
  padding: 4rem 5rem;
}

.ProductPage .Product-back-cover-text p {
  margin: 1em 0;
}

.ProductPage .Product-details {
  display: flex;
  border-left: 6px solid black;
  height: 125px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 5px 0 0 45px;
  width: 100%;
}

.ProductPage .Product-detail {
  padding: 5px 0;
}

.ProductPage .Product-detail .detail-label {
  display: inline-block;
  font-family: var(--teko);
  font-size: 2rem;
  font-weight: 300;
  width: 145px;
}

.ProductPage .Product-detail .detail-value {
  font-size: 1.3rem;
}

/* Footer */

.Footer {
  background: var(--red);
  /* Hack to make footer reach page bottom */
  /* https://stackoverflow.com/questions/9741701/how-can-i-extend-a-footer-to-bottom-of-page */
  box-shadow: 0 50vh 0 50vh var(--red);
  color: var(--white);
  margin-top: 200px;
  text-align: center;
  width: 100vw;
}

.Footer a {
  color: var(--white);
}

.Footer .Menu {
  font-family: var(--teko);
  margin: auto;
  width: 1000px;
  font-size: 1.8rem;
  font-weight: bold;
}

.Footer .Menu-entries {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 35px;
  height: 135px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.Footer .MenuEntry {
  line-height: 30px;
  width: 160px;
}

.Footer .Footer-powered-by {
  font-size: 1.2rem;
  text-align: left;
  text-transform: lowercase;
  margin: auto;
  padding-left: 35px;
  width: 1000px;
}

.Footer .Footer-powered-by a {
  text-decoration: underline;
}
