.Header-site-title a {
  background-image: url('../../_site/public/logo.png');
}

.SearchForm button {
  background-image: url('../../_site/public/search-button.png');
}

.SearchForm:hover button {
  background-image: url('../../_site/public/search-button.png');
}

.Footer::before {
  background-image: url('./../../_site/public/footer.png');
}

.Footer::after {
  background-image: url('./../../_site/public/footer-logo.png');
}
